In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

# Load the data

In [2]:
df = pd.read_csv("ethereumprice_org.csv")
df.head()

    timestamp        date         open         high          low        close
0  1665532800  10/12/2022  1279.870000      1304.36         1276      1294.41
1  1665446400  10/11/2022  1290.054126  1297.138045  1268.541627  1279.769451
2  1665360000  10/10/2022  1323.408965  1336.620905  1289.303986  1290.725626
3  1665273600   10/9/2022  1315.673362      1328.62  1308.033024  1323.208332
4  1665273480   10/8/2022  1315.460274    undefined    undefined    undefined

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2953 entries, 0 to 2952
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  2953 non-null   int64
 1   date       2953 non-null   object
 2   open       2953 non-null   float64
 3   high       2953 non-null   object
 4   low        2953 non-null   object
 5   close      2953 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 92.3+ KB

In [4]:
df['high']= df['high'].fillna('0')
df['low']= df['low'].fillna('0')
df['close']= df['close'].fillna('0')
df.head(10)

    timestamp        date         open         high          low        close
0  1665532800  10/12/2022  1279.870000      1304.36         1276      1294.41
1  1665446400  10/11/2022  1290.054126  1297.138045  1268.541627  1279.769451
2  1665360000  10/10/2022  1323.408965  1336.620905  1289.303986  1290.725626
3  1665273600   10/9/2022  1315.673362      1328.62  1308.033024  1323.208332
4  1665273480   10/8/2022  1315.460274    undefined    undefined    undefined
5  1665187200   10/8/2022  1331.028949  1336.425648  1304.781572      1315.43
6  1665100800   10/7/2022  1351.956267  1360.514962  1320.055232  1332.207299
7  1665100740   10/6/2022  1352.272650    undefined    undefined    undefined
8  1665014400   10/6/2022  1351.940859      1382.21  1347.746847  1351.338316
9  1665014340   10/5/2022  1352.688461    undefined    undefined    undefined

# Visualization

In [6]:
# Use plot to show relationship of price and time stamp
pip install plotly
import plotly.graph_objects as go
from datetime import datetime
%matplotlib inline

fig = go.Figure(data=[go.Candlestick(x=df['date'],
                open=df['open'],
                high=df['high'],
                low=df['low'],
                close=df['close'])])

fig.show()

SyntaxError: invalid syntax (<ipython-input-6-2fba459bf21b>, line 2)